.App {
  text-align: center;
}


.App-header {
  background-image: url(tavarna.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.texto{

  color: white;

}

.App-link {
  color: #61dafb;
}


.marcadores{
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  width: 50%;
  flex-direction: column;
}


.TeladeWin{

  display: none;
  align-items: center;
  flex-direction: column;
}

.forms{

display: none;

}

.player1form{

  display: none;

}

.player2form{

  display: none;

}

.player3form{

  display: none;

}

.player4form{

  display: none;

}

.player1{

  align-self: center;
  display: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;


}

.player2{

  display: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

}

.player3{

  display: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

}

.player4{

  display: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

}


.botao{

  background:none;
  color: azure;
  border-color: azure;
  width: 0%;
  align-items: center;
  width: 50%;
  height: 25%;
  font-size: large;
}